
.portfolio-grid {
        grid-template-columns: repeat(2, 1fr) !important; /* Passa para 2 colunas */
        gap: 20px !important;
    }

    .hero-small .hero-content h1 {
        font-size: 2.5rem;
    }

    .filter-container {
        gap: 15px;
    }